@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Google reCAPTCHA v2</h1>
        <p>
            This sample application demonstrates the use of Google reCAPTCHA v2 in ASP.NET Core MVC. 
            <br/>Blog post: <a href="https://www.dotnetcode.ru/google-recaptcha-v2-in-aspnet-core-app">https://www.dotnetcode.ru/google-recaptcha-v2-in-aspnet-core-app</a>
        </p>
        <p><strong><a asp-action="Contact">Contact Form</a></strong></p>
    </div>
</div>
